body {
  font-family: 'Comfortaa', sans-serif;
  background-color: #b9b9b9c2; /* Gris claro */
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
  display: flex;
  justify-content: flex-end; /* Alinea las tarjetas a la derecha */
}


.grid {
  display: flex;
  justify-content: flex-start; /* Espacio entre las tarjetas */
  gap: 20px; /* Espacio entre las tarjetas */
  padding: 16px;
  box-sizing: border-box;
  flex-wrap: nowrap; /* Evita que las tarjetas se envuelvan a la siguiente fila */
}

.row {
  display: flex;
  justify-content: flex-start; /* Ajusta esto según cómo quieras que se alineen las tarjetas */
  flex-wrap: wrap;
}

.col-12,
.col-sm-4,
.col-md-3 {
  margin: 10px;
}